html {
  height: 100%; }

body {
  background: #e0ffe0;
  background: linear-gradient(#e0ffe0, #428042); }

.starting-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e0ffe0;
  z-index: 1;
  text-align: center; }
  .starting-screen button {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px; }

.buttons {
  min-height: 100px;
  text-align: center; }
  .buttons button {
    height: 80px;
    width: 80px;
    font-weight: bold; }

.dealer {
  min-height: 100px;
  margin: 40px 0; }

.player {
  min-height: 100px;
  margin: 40px 0; }

.score {
  color: #fff;
  font-size: 9rem;
  text-shadow: 0 0 2px #333; }

.cards .card {
  float: left;
  height: 161px;
  margin: 10px;
  text-align: center;
  width: 116px;
  background: transparent;
  background-image: url(../images/poker.cards.bypx.png);
  background-position: 0 0; }
  .cards .card.clubs.card-1 {
    background-position: 0 -484px; }
  .cards .card.clubs.card-2 {
    background-position: -115px -484px; }
  .cards .card.clubs.card-3 {
    background-position: -230px -484px; }
  .cards .card.clubs.card-4 {
    background-position: -346px -484px; }
  .cards .card.clubs.card-5 {
    background-position: -461px -484px; }
  .cards .card.clubs.card-6 {
    background-position: -577px -484px; }
  .cards .card.clubs.card-7 {
    background-position: -692px -484px; }
  .cards .card.clubs.card-8 {
    background-position: -807px -484px; }
  .cards .card.clubs.card-9 {
    background-position: -923px -484px; }
  .cards .card.clubs.card-10 {
    background-position: -1038px -484px; }
  .cards .card.clubs.card-11 {
    background-position: -1153px -484px; }
  .cards .card.clubs.card-12 {
    background-position: -1269px -484px; }
  .cards .card.clubs.card-13 {
    background-position: -1384px -484px; }
  .cards .card.diamonds.card-1 {
    background-position: 0 -322px; }
  .cards .card.diamonds.card-2 {
    background-position: -115px -322px; }
  .cards .card.diamonds.card-3 {
    background-position: -230px -322px; }
  .cards .card.diamonds.card-4 {
    background-position: -346px -322px; }
  .cards .card.diamonds.card-5 {
    background-position: -461px -322px; }
  .cards .card.diamonds.card-6 {
    background-position: -577px -322px; }
  .cards .card.diamonds.card-7 {
    background-position: -692px -322px; }
  .cards .card.diamonds.card-8 {
    background-position: -807px -322px; }
  .cards .card.diamonds.card-9 {
    background-position: -923px -322px; }
  .cards .card.diamonds.card-10 {
    background-position: -1038px -322px; }
  .cards .card.diamonds.card-11 {
    background-position: -1153px -322px; }
  .cards .card.diamonds.card-12 {
    background-position: -1269px -322px; }
  .cards .card.diamonds.card-13 {
    background-position: -1384px -322px; }
  .cards .card.spades.card-1 {
    background-position: 0 -161px; }
  .cards .card.spades.card-2 {
    background-position: -115px -161px; }
  .cards .card.spades.card-3 {
    background-position: -230px -161px; }
  .cards .card.spades.card-4 {
    background-position: -346px -161px; }
  .cards .card.spades.card-5 {
    background-position: -461px -161px; }
  .cards .card.spades.card-6 {
    background-position: -577px -161px; }
  .cards .card.spades.card-7 {
    background-position: -692px -161px; }
  .cards .card.spades.card-8 {
    background-position: -807px -161px; }
  .cards .card.spades.card-9 {
    background-position: -923px -161px; }
  .cards .card.spades.card-10 {
    background-position: -1038px -161px; }
  .cards .card.spades.card-11 {
    background-position: -1153px -161px; }
  .cards .card.spades.card-12 {
    background-position: -1269px -161px; }
  .cards .card.spades.card-13 {
    background-position: -1384px -161px; }
  .cards .card.hearts.card-1 {
    background-position: 0 0; }
  .cards .card.hearts.card-2 {
    background-position: -115px 0; }
  .cards .card.hearts.card-3 {
    background-position: -230px 0; }
  .cards .card.hearts.card-4 {
    background-position: -346px 0; }
  .cards .card.hearts.card-5 {
    background-position: -461px 0; }
  .cards .card.hearts.card-6 {
    background-position: -577px 0; }
  .cards .card.hearts.card-7 {
    background-position: -692px 0; }
  .cards .card.hearts.card-8 {
    background-position: -807px 0; }
  .cards .card.hearts.card-9 {
    background-position: -923px 0; }
  .cards .card.hearts.card-10 {
    background-position: -1038px 0; }
  .cards .card.hearts.card-11 {
    background-position: -1153px 0; }
  .cards .card.hearts.card-12 {
    background-position: -1269px 0; }
  .cards .card.hearts.card-13 {
    background-position: -1384px 0; }
  .cards .card div {
    font-size: 3rem;
    height: 100%;
    margin-top: 30px;
    width: 100%;
    display: none; }

.game-over {
  background: none repeat scroll 0 0 #813a3a;
  border: 2px solid #cccb3f;
  border-right: 0;
  border-left: 0;
  font-size: 2rem;
  padding: 16px; }
  .game-over .text {
    color: #fff;
    font-weight: bold; }
  .game-over button {
    height: auto; }

/*# sourceMappingURL=blackjack.css.map */
